body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../assets/images/moon-31665_1280.png");
  background-repeat: no-repeat; /* Empêche la répétition du fond d'écran */
  background-size: cover; /* Couvre tout le fond d'écran */
  min-height: 100vh; /* Ajustez la hauteur selon vos besoins */
  display: flex;
  align-items: center;
  justify-content: center; /* Centre le contenu horizontalement */
}

.app {
  text-align: center;
  color: #ffd700;
}
